numpy>=1.18.2
matplotlib>=3.5.1
torch>=1.10.2
seaborn>=0.11.2
pandas~=1.4.3
scikit-learn>=1.0.2
flowtorch>=0.8
torchdyn~=1.0.1
tqdm~=4.64.0
extratorch @ git+https://github.com/alexarntzen/extratorch.git
residual-flows @ git+https://github.com/VincentStimper/residual-flows.git
normflow @ git+https://github.com/VincentStimper/normalizing-flows.git
signatureshape @ git+https://github.com/alexarntzen/signatureshape.git